{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<main>
    <div class="home">
        <div class="home__primary">
            <h1 class="home__title">Birth of <br> Violence</h1>
            <div class="home__img">
                <img src="" alt="">
                <a href="{% url 'products' %}" class="btn btn-lg btn__hero"> Visit the store</a>
            </div>
        </div>
        <div class="home__secondary">
            <span class="home__sub">Official <br>Store</span>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">

    TweenMax.to(".home__primary", 2, {width: "100%", ease: Expo.easeInOut})
    gsap.from('.home__title', {opacity: 0, duration: 2, delay: 1.5, y: 100})
    gsap.from('.home__img img', {opacity: 0, duration: 2, delay:1.5, y: -100})
    gsap.from('.btn__hero', {opacity: 0, duration: 2, delay:1.5, y: -100})

    
    TweenMax.to(".home__secondary", 2.5, {width: "100%",ease: Expo.easeInOut})
    gsap.from('.home__sub', {opacity: -1, duration: 1.5, delay: 1.5, x: 100})
</script>
{% endblock %}
