{% extends "base.html" %}

{% block content %}
    <div class="container header-container mb-3">
        <div class="overlay"></div>
        <div class="row justify-content-center vh-100">
            <div class="col-12 col-md-6 text-center">
                <div class="jumbotron bg-clear mt-4 wrap-allauth">
                    <div class="allauth-form-inner-content">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
gsap.from(".wrap-allauth", { opacity: 0, duration: 1, delay: 1.5, x: -100 });
gsap.from(".allauth-form-inner-content", { opacity: 0, duration: 1, delay: 2.5, y: -50 });
</script>
{% endblock %}