{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="overlay"></div>
        <!-- Header -->
        <div class="row justify-content-center">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4 text-full text-center">Oh no ! Something went wrong !</h2>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Form -->
                <div class="jumbotron bg-clear mt-4 wrap-contact">
                    <!-- Form -->
                    <div class="row mt-3 mb-5 mb-2">
                        <div class="col-12 col-xl-6 text-right">                 
                            <a href="{% url 'products' %}" class="btn btn-lg btn-clear mt-3 w-100 w-sm-auto"> 
                                <span class="font-weight-bold">Back to the store</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}