{% extends "base.html" %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <img src="https://cdn.dribbble.com/users/1484654/screenshots/12124455/media/767417328eeb9e14c1cb40c69e323591.png?compress=1&resize=1600x1200" alt="error 404" class="mt-5" onerror="this.onerror=null;this.src='/static/img/error.jpg';">r 404" class="mt-5" onerror="this.onerror=null;this.src='/static/img/error.jpg';">
                <h5 class="pt-3">Oh non, something went wrong !</h5>
                <p class="mt-3"><a href="{% url 'products' %}" class=" btn btn-lg btn-clear mt-3 w-100 w-sm-auto">Zou! Back home!</a></p>
            </div>
        </div>
    </div>   
{% endblock %}