{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main class="container pt-5">
    <div class="row">

         <!-- Image -->
        <div class="col-sm-12 col-md-6">
            <div>
                {% if product.image %}
                    <img class="item-img" src="{{ product.image.url }}" alt="{{ product.name }}" />              
            </div>
                {% else %}
                    <a href="">
                        <img class="item" src="{{ MEDIA_URL }}cw_red.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
        </div>

        <!-- Product infos and admin functionnalities -->
        <div class="col-sm-12 col-md-6 info">
            <div class="item-info text-full">
                <span class="info-category">{{ product.category.friendly_name }}</span>
                <h1 class="info-title">{{ product.name }}</h1>
                <p class="info-description">
                    {{ product.description }}
                </p>
                {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
            </div>

            <!-- Price -->
            <span class="price-title ">${{ product.price }}</span>

             <!-- Size and Quantity -->
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row size">
                    {% with product.size as s %}
                        {% if s %}
                            <div class="col-12">
                                <p><strong>Select Size:</strong></p>
                                <select class="form-control rounded-0 w-100 w-sm-50" name="size" id="id_size">
                                    {% for choice in product.size %}
                                        <option value="{{ choice }}">{{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endwith %}
                <div class="col-12 quantity">
                    <div class="form-group w-50">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                            {% if product.qty > 3 %}
                                <p>In stock</p>
                            {% elif product.qty > 0 %}
                                <p class="text-danger">Few left!</p>
                            {% else %}
                                <p class="text-danger">Out of Stock </p>
                        {% endif %}
                        {% if product.qty > 0 %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-full rounded-0" 
                                        ata-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" 
                                id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-full rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            {% if product.qty > 0 %}                 
                <div class="col{% if s %}-12 mt-2{% endif %} pb-5 price-button">
                    <a href="{% url 'products' %}" class="btn btn-clear rounded-0 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase text-full">Keep Shopping</span>
                    </a>
                    <input type="submit" class="btn btn-full text-full rounded-0 text-uppercase mt-5" value="Add to Bag">
                </div> 
            {% endif %}                           
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>

        <!-- Review section -->
        <div class="container">
            <div class="col-md-12">
                <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix">
                    <h5 class="mb-0 mb-4 review-header text-full">Ratings and Reviews</h5>
                    <div class="row align-items-start">
                        <div class="col-lg-4 col-sm-12 review-total">
                            <b class="text-full">{{ product.reviews.count }}</b>
                            <p>total review</p>
                        </div>
                        <div class="col-lg-4 col-sm-12 review-average">
                            {% if product.reviews.count > 0 %}
                                <p class="text-full">{{ average_rating }} /5 <i class="far fa-star"></i></p>
                            {% else %}
                                <p class="text-full">{{ average_rating }}</p>
                            {% endif %}
                        </div>
                            <div class="col-lg-4 col-sm-12 review-btn-up">
                                <a href="{% url 'review_product' product.id %}" type="button" class="btn btn-lg btn-clear">write a review</a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-sm p-4 mb-4">
                        <h5 class="mb-1 review-title-detail text-full">Customer's reviews</h5>
                        <div class=" pt-4 pb-4">
                            {% if product.reviews.count > 0 %}
                                {% for review in product.reviews.all %}
                                    <div class="row align-items-start review-detail">
                                        <div class="col-4">
                                            <h6 class="mb-1 text-full">{{ review.reviewer }}</h6>
                                            <p class="text-gray text-full">{{ review.date }}</p>
                                            <p class="text-gray text-full">France</p>
                                        </div>
                                        <div class="col-8">
                                            <h4 class="mb-3 text-full">
                                                {{ review.rating }}
                                            </h4>
                                            <div class="text-full">
                                                <p>{{ review.review }}</p>
                                            </div>
                                            {% if request.user.is_authenticated %}
                                                <div>
                                                    <button type="button" class="btn btn-full text-full" data-toggle="modal" data-target="#deleteReview-{{ review.id }}"><i class="fas fa-trash-alt"></i></button>
                                                    <a href="{% url 'edit_review' review.id %}" class="btn btn-clear"><i class="fas fa-edit"></i></a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Delete review modal -->
                                <div class="modal fade" id="deleteReview-{{ review.id }}" tabindex="-1" aria-labelledby="deleteLabel-{{ review.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title text-full font-weight-bold" id="deleteLabel">Do you want to delete your review?</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-full">
                                                <p>Are you sure that your want to delete your review? This action cannot be undone.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                                <a href="{% url 'delete_review' review.id %}" class="btn btn-danger ml-3">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No product reviews.</p>
                        {% endif %}
                    <hr>
                </div>
            </div>
        </div>

        <!-- Suggestions --> 
        <article class="row">
            <div class="col-sm-12 text-center text-full">
                <h3>You might also like:</h3>
                <hr>
            </div>
            {% for suggested_product in suggested_products %}
                <div class="col-sm-6 col-lg-4 col-xl-3 card__wrapper">
                    <div class="box">
                        <div class="top__box">
                            {% if suggested_product.image %}
                                <a href="{% url 'product_detail' suggested_product.id %}">
                                    <img src="{{ suggested_product.image.url }}" alt="{{ suggested_product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' suggested_product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ suggested_product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="bottom pb-4">
                            <div class="bottom__box">
                                <div class="card__details">
                                    <p class=" mb-0 text-left">{{ suggested_product.name }}</p>
                                    <p class="mb-0 text-left font-weight-bold">${{ suggested_product.price }}</p>
                                    {% if suggested_product.category %}
                                        <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="#">
                                            <i class="fas fa-tag mr-1"></i>{{ suggested_product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </article>          
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
gsap.from(".item-img", { opacity: 0, duration: 1, delay: 1.5, x: -100 });
gsap.from(".item-info", { opacity: 0, duration: 1, delay: 2.5, y: -50 });
gsap.from(".size", { opacity: 0, duration: 1, delay: 3, x: -100 });
gsap.from(".quantity", { opacity: 0, duration: 1, delay: 3, x: 100 });
gsap.from(".price-title", { opacity: 0, duration: 1, delay: 3.5, y: 50 });
gsap.from(".price-button", { opacity: 0, duration: 1, delay: 3.5, y: -50 });
</script>
<script type="text/javascript">
    const sr = ScrollReveal({
    origin: 'top',
    distance: '80px',
    duration: 2000,
    reset: true
})

/*SCROLL Review*/
sr.reveal('.review-header', {delay: 200})
sr.reveal('.review-total', {delay: 300})
sr.reveal('.review-average', {delay: 400})
sr.reveal('.review-btn-up', {delay: 500})
sr.reveal('.review-title-detail', {delay: 200})
sr.reveal('.review-detail', {delay: 400})
</script>
{% endblock %}
